.board {
    display:flex;
    justify-content:center;
    flex-direction: column;
    align-self: center;
    width: 400px;
    height: 400px;
    background-color: brown;
  }
  .row {
    height: 100px;
    width: 100%;
    background-color: black;
  }
  .card {
    width: 100px;
    height: 100px;
  }
  a {
    color: blue;
    text-size-adjust: 50px;
    font-size: x-large;
  }
  h1, h2, div {
    text-align: center;
    font-style: oblique;
    font-family: cursive;
    color: blue;
  }
.box {
  display:flex;
  align-self: center;
  width: 100vw;
  justify-content: center;
}

body {

background-image: url(https://free4kwallpapers.com/uploads/originals/2015/09/17/black-hd.jpg);
}

reset-button {
  height: 500px;
  width: 600px;
}