.board {
    display:flex;
    width: 400px;
    height: 400px;
    background-color: brown;
  }
  .row {
    height: 100px;
    width: 100%;
    background-color: black;
  }
  .card {
    width: 100px;
    height: 100px;;
  }